@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lora:ital,wght@0,400;0,500;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Vina+Sans&display=swap');


.App {
  font-family: 'Lato', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Vina Sans', cursive;
}


/* @font-face {
  font-family: "Retro";
  src: local("bettynoir"),
  url("./fonts/bettynoir.ttf") format("truetype");
} */

/* @font-face {
  font-family: "Retro";
  src: local("magicretro"),
  url("./fonts/magicretro.ttf") format("truetype");
} */

/* @font-face {
  font-family: "Vintage";
  src: local("vintage"),
  url("./fonts/Vintage.ttf") format("truetype");
} */